---
interface Props {
	tags: Array<{ slug: string; label: string }>;
	class?: string;
}

const { tags, class: className } = Astro.props;
---

{
	tags.length > 0 && (
		<ul class:list={["flex flex-wrap gap-2 list-none p-0 m-0", className]}>
			{tags.map((tag) => (
				<li>
					<a href={`/tag/${tag.slug}`} class="tag-pill-sm">
						{tag.label}
					</a>
				</li>
			))}
		</ul>
	)
}
